<h4>Select What You Want To Add To Your Dashboard</h4>
<div class="btn-group mb-3" role="group">
  <button class="btn" data-bs-toggle="modal" data-bs-target="#categoryModal">New Category</button>
  <button class="btn" data-bs-toggle="modal" data-bs-target="#pharmaceuticalModal">New Pharmaceutical Form</button>
  <button class="btn" data-bs-toggle="modal" data-bs-target="#medicineModal">New Medicine</button>
  <!-- Update Medicine Table -->
  <button class="btn" (click)="updateMedicine()">
    <fa-icon [icon]="faBookMedical" class="me-2"></fa-icon>Update Medicine
  </button>
  <!-- Add Medicine Table -->
  <button class="btn" (click)="deleteMedicine()">
    <fa-icon [icon]="faBookMedical" class="me-2"></fa-icon>Delete Medicine
  </button>

  <button
    type="button"
    class="btn excel-btn rounded-0"
    id="dropdownMenuReference1"
    data-toggle="tooltip"
    data-placement="top"
    title="Import Excel Template"
    (click)="importTemplateToEXCEL()">
    <fa-icon [icon]="faDownload"></fa-icon>
  </button>
  <button
    type="button"
    class="btn excel-btn"
    id="dropdownMenuReference2"
    data-toggle="tooltip"
    data-placement="top"
    title="Export Excel Template">
    <label for="input_file_medicine">
      <fa-icon [icon]="faUpload"></fa-icon>
      <input class="pointer d-none" id="input_file_medicine" type="file" (change)="importingExcel($event)" />
    </label>
  </button>
</div>
<!-- Medicine Table -->
<div style="width: 300px">
  <input
    type="text"
    (input)="onQuickFilterChanged(txt)"
    id="quickFilter"
    #txt
    class="form-control mb-3"
    placeholder="quick filter all table..." />
</div>
<ag-grid-angular
  #agGrid
  style="width: 100%; height: 500px"
  class="ag-theme-alpine"
  (gridReady)="gridReady($event)"
  [gridOptions]="gridOption"
  [columnDefs]="columnDefs"
  [suppressRowClickSelection]="true"
  [rowSelection]="'multiple'"
  [pagination]="true"
  [paginationAutoPageSize]="true">
</ag-grid-angular>

<!-- Category Modal -->
<div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="categoryModalLabel">Add new category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Please Provide Us Your New Category Name
        <div class="form-floating mb-3 mt-3">
          <input type="text" class="form-control" id="categoryName" #categoryName />
          <label for="floatingInput">Category Name</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onResetPartForm(categoryName)">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="addCategory(categoryName.value)"
          data-bs-dismiss="modal"
          [disabled]="categoryName.value == ''">
          Add
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Pharmaceutical Modal -->
<div class="modal fade" id="pharmaceuticalModal" tabindex="-1" aria-labelledby="pharmaceuticalModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pharmaceuticalModalLabel">Add new pharmaceutical form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Please Provide Us Your New Pharmaceutical Form
        <div class="form-floating mb-3 mt-3">
          <input type="text" class="form-control" id="pharmaceuticalFormName" #pharmaceuticalFormName />
          <label for="floatingInput">Pharmaceutical Form Name</label>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="onResetPartForm(pharmaceuticalFormName)">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="addPharmaceuticalForm(pharmaceuticalFormName.value)"
          data-bs-dismiss="modal"
          [disabled]="pharmaceuticalFormName.value == ''">
          Add
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Medicine Modal -->
<div class="modal fade" id="medicineModal" tabindex="-1" aria-labelledby="medicineModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="medicineModalLabel">Add new medicine</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Please Provide Us Your New Medicine Details
        <form [formGroup]="medicineForm">
          <div class="form-floating mb-3">
            <input type="text" class="form-control mt-3" formControlName="productName" />
            <label for="floatingInput">Medicine Name</label>
          </div>
          <div *ngIf="submitted && formControl['productName'].errors" class="text-danger">
            <span *ngIf="formControl['productName'].errors['required']">product Name is required.</span>
          </div>
          <div class="row mb-3">
            <div class="center">
              <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" accept="image/*">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector" accept="image/*">
                  Drag Your Images Of This Medicines <br />
                  <button type="button btn-primary d-block" (click)="openFileSelector()">Browse Files</button>
                </ng-template>
              </ngx-file-drop>
              <div class="upload-table">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Images Uploaded</th>
                    </tr>
                  </thead>
                  <tbody class="upload-name-style">
                    <tr *ngFor="let item of files; let i = index">
                      <td>
                        <strong>{{ item.relativePath }}</strong>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" formControlName="indications" />
            <label for="floatingInput">Indications</label>
          </div>
          <div *ngIf="submitted && formControl['indications'].errors" class="text-danger">
            <span *ngIf="formControl['indications'].errors['required']">indications Name is required.</span>
          </div>
          <div class="form-floating mb-3">
            <input type="number" class="form-control" formControlName="packing" />
            <label for="floatingInput">Packing</label>
          </div>
          <div *ngIf="submitted && formControl['packing'].errors" class="text-danger">
            <span *ngIf="formControl['packing'].errors['required']">packing Name is required.</span>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" formControlName="composition" />
            <label for="floatingInput">Composition</label>
          </div>
          <div *ngIf="submitted && formControl['composition'].errors" class="text-danger">
            <span *ngIf="formControl['composition'].errors['required']">composition Name is required.</span>
          </div>
          <div class="form-floating mb-3">
            <input type="number" class="form-control" formControlName="expiredDate" />
            <label for="floatingInput">Expired Date (in years)</label>
          </div>
          <div *ngIf="submitted && formControl['expiredDate'].errors" class="text-danger">
            <span *ngIf="formControl['expiredDate'].errors['required']">expired Date Name is required.</span>
          </div>
          <div class="form-floating mb-3">
            <input type="number" class="form-control" formControlName="price" />
            <label for="floatingInput">Public Price</label>
          </div>
          <div *ngIf="submitted && formControl['price'].errors" class="text-danger">
            <span *ngIf="formControl['price'].errors['required']">price Name is required.</span>
          </div>
          <div class="form-floating mb-3">
            <input type="number" class="form-control" formControlName="netPrice" />
            <label for="floatingInput">Net Price</label>
          </div>
          <div *ngIf="submitted && formControl['netPrice'].errors" class="text-danger">
            <span *ngIf="formControl['netPrice'].errors['required']">net Price Name is required.</span>
          </div>
          <select class="form-select mb-3" aria-label="Category Select" formControlName="categoryId">
            <option selected>Choose Category</option>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
          <div *ngIf="submitted && formControl['categoryId'].errors" class="text-danger">
            <span *ngIf="formControl['categoryId'].errors['required']">category Name is required.</span>
          </div>
          <select
            class="form-select mb-3"
            aria-label="Pharmaceutical Form Select"
            formControlName="pharmaceuticalFormId">
            <option selected>Choose Pharmaceutical Form</option>
            <option *ngFor="let pharm of pharmaceuticalForms" [value]="pharm.id">{{ pharm.name }}</option>
          </select>
          <div *ngIf="submitted && formControl['pharmaceuticalFormId'].errors" class="text-danger">
            <span *ngIf="formControl['pharmaceuticalFormId'].errors['required']"
              >pharmaceutical Form Name is required.</span
            >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onReset()">Close</button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="addMedicine()"
          [disabled]="!medicineForm.valid"
          data-bs-dismiss="modal">
          Add
        </button>
      </div>
    </div>
  </div>
</div>
