.event{
    background-color: #6d7c97;
    color: white;
  }
  .btn-input{
    width: 20px;
    height: 20px;
    border-radius: 20%;
    outline: none;
    background: white;
    border: none;
    margin-left: 10px;
    display: flex;
    box-shadow: 0px 0px 10px 0px #f50000;
    align-items: center;
    justify-content: center;
    *{
      color: #f50000;
    }
  
  }
  