<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true">
    <button toggle="visible" cHeaderToggler [cSidebarToggle]="sidebarId" class="ps-1">
      <svg cIcon name="cilMenu" size="lg"></svg>
    </button>
    <c-header-nav class="d-none d-lg-flex me-auto">
      <c-nav-item>
        <a cNavLink routerLink="/dashboard" routerLinkActive="active"> Dashboard </a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink routerLink="/users-management" routerLinkActive="active">Users</a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink routerLink="/company-details" routerLinkActive="active">Company Details</a>
      </c-nav-item>
    </c-header-nav>

    <!-- <c-header-nav class="d-none d-lg-flex">
      <c-nav-item>
        <a cNavLink>
          <svg cIcon name="cilBell" size="lg"></svg>
        </a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink>
          <svg cIcon name="cilList" size="lg"></svg>
        </a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink>
          <svg cIcon name="cilEnvelopeOpen" size="lg"></svg>
        </a>
      </c-nav-item>
    </c-header-nav> -->
    <c-header-nav class="ms-3">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>
  </c-container>
  <c-header-divider></c-header-divider>
  <c-container [fluid]="true">
    <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
  </c-container>
</ng-container>
<!--</c-header>-->

<ng-template #userDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button cButton color="" [caret]="false" cDropdownToggle class="py-0">
      <c-avatar
        cTextColor="primary"
        shape="rounded-1"
        size="md"
        [src]="userDetails?.img != null ? userDetails.img : './../../../../assets/img/avatars/avatar-default.jpg'"
        status="success">
      </c-avatar>
    </button>
    <ul cDropdownMenu class="pt-0 pr-5 w-auto">
      <li type="button" data-bs-toggle="modal" data-bs-target="#profileInfoModal" (click)="deleteBackdrop()">
        <a cDropdownItem>
          <svg cIcon class="me-2" name="cilUser"></svg>
          Profile
        </a>
      </li>
      <li (click)="onLogout()">
        <a cDropdownItem>
          <svg cIcon class="me-2" name="cilChevronLeft"></svg>
          Logout
        </a>
      </li>
      <li></li>
    </ul>
  </c-dropdown>
</ng-template>

<!-- User Info Modal -->
<div class="modal fade" id="profileInfoModal" tabindex="-1" aria-labelledby="profileInfoModal" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profileHeaderInfoModal">Profile Info</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="saveUserInfoForm" #form>
          <div class="save-infor">
            <div class="row">
              <!-- Image Select -->
              <div class="file-input mb-3">
                <input
                  type="file"
                  name="file-input"
                  id="file-input"
                  class="file-input__input"
                  (change)="processFile($event)" />
                <label class="file-input__label" for="file-input">
                  <div class="user-img">
                    <c-avatar
                      cTextColor="primary"
                      shape="rounded-1"
                      size="md"
                      [src]="
                        userDetails?.img != null
                          ? userDetails.img
                          : './../../../../assets/img/avatars/avatar-default.jpg'
                      "
                      status="success">
                    </c-avatar>
                    <b>+</b>
                  </div>
                </label>
              </div>
              <!-- FirstName -->
              <div class="w-100 mb-3">
                <input type="text" formControlName="firstName" class="form-control" placeholder="First Name" />
              </div>
              <!-- LastName -->
              <div class="w-100 mb-3">
                <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name" />
              </div>
              <!-- Email -->
              <div class="w-100">
                <input type="email" formControlName="email" name="email" class="form-control" placeholder="Email" />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" type="reset">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" type="submit" (click)="updateUser()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
