<h3>Here Fill Free To Fill Your Offer And Manage Them All.</h3>
<button
  type="button"
  class="btn btn-primary"
  data-toggle="tooltip"
  data-placement="top"
  title="Add New Offer"
  data-bs-toggle="modal"
  data-bs-target="#offerModal">
  Add New Offer
</button>

<!-- Offer Modal -->
<div class="modal fade" id="offerModal" tabindex="-1" aria-labelledby="offerModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="offerModalHeader">Add New Offer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="offerForm">
          <div class="row mb-3">
            <label for="offerName"
              >Add Name To Your New Offer
              <input type="text" formControlName="name" id="offerName" />
            </label>
          </div>
          <h4>Now Please Fill The Medicines That The Offer Have</h4>
          <div formArrayName="offerDetails">
            <ng-container *ngFor="let offer of offerDetails?.controls; let i = index">
              <div class="mb-3" [formGroupName]="i">
                <select class="form-select" aria-label="Category Select" formControlName="medicineId">
                  <option selected>Choose A Medicine</option>
                  <option *ngFor="let medicine of medicines" [value]="medicine?.id">{{ medicine.productName }}</option>
                </select>
                <input type="number" formControlName="quantity"  placeholder="Quantity"/>
                <select class="form-select" aria-label="Pharmaceutical Form Select" formControlName="extraMedicineId">
                  <option selected>No Extra</option>
                  <option *ngFor="let extraMedicine of medicines" [value]="extraMedicine?.id">
                    {{ extraMedicine.productName }}
                  </option>
                </select>
                <input type="number" formControlName="extraQuantity" placeholder="Extra Quantity"/>
              </div>
            </ng-container>
          </div>
          <button class="btn" (click)="addNewMedicineOffer()">
            <fa-icon [icon]="faSquarePlus"></fa-icon>
          </button>
          <br />
          <pre>{{ offerForm.value | json }}</pre>
          <br />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addNewOffer()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
