/* You can add global styles to this file, and also import other style files */
// If you want to override variables do it here
@import 'variables';

$enable-ltr: true;
$enable-rtl: true;

// Import styles with default layout.
@import '~@coreui/coreui/scss/coreui';

// Import Chart.js custom tooltips styles
@import '~@coreui/chartjs/scss/coreui-chartjs';

// perfect scrollbar theming for use with [perfectScrollbar] directive
//@import '~perfect-scrollbar/css/perfect-scrollbar.css';

@import 'layout';

// Some temp fixes
@import 'fixes';

// Prism.js
@import 'examples';

// If you want to add something do it here
@import 'custom';
// ag-Grid
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

html, body {
   height: 100%;
   width: 100%;
   padding: 5px;
   box-sizing: border-box;
   -webkit-overflow-scrolling: touch;
}
::ng-deep {
  @mixin overlay-backdrop($zindex, $backdrop-bg, $backdrop-opacity) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000 !important;
    width: 100vw;
    height: 100vh;
    background-color: $backdrop-bg;

    // Fade for backdrop
    &.fade {
      opacity: 0;
    }
    &.show {
      opacity: $backdrop-opacity;
      z-index: 1000 !important;
    }
  }
}



.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}


.user-img {
  position: relative;
  cursor: pointer;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  b{
    font-size: 30px;
    color: #676797;
    position: absolute;
    top: 0;
    right: -13px;
  }

}

.add-input{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  outline: none;
  background: white;
  border: none;
  margin-left: 10px;
  box-shadow: 0px 0px 10px 0px #33348e;
  i{
    padding: 2px;
    color:#33348e ;
  }

}
