form {
  padding: 10px;
  label {
    margin-right: 10px;
  }
  input {
    margin-bottom: 10px;
    caret-color: lightseagreen;
    &.ng-valid.ng-touched{
      border: 1px solid lightgreen;
      border-left: 3px solid lightgreen;
    }
    &.ng-invalid.ng-touched{
      border: 1px solid lightcoral;
      border-left: 3px solid lightcoral;
    }
  }
}
